[submodule "etl/template/themes/crunchy"]
	path = etl/template/themes/crunchy
	url = https://github.com/crunchydata/crunchy-hugo-theme
[submodule "etl/template/themes/crunchy-hugo-theme"]
	path = etl/template/themes/crunchy-hugo-theme
	url = https://github.com/crunchydata/crunchy-hugo-theme
